.custm{
    /* border: 2px solid rgb(80, 80, 80); */
    box-shadow: 2.6px 2.6px 16px rgb(91, 91, 91);
    transition-property: all;
    transition-duration: 0.26s;
    transition-timing-function: ease-in-out;
    background-color: rgb(242, 242, 242);
}

.custm p{
    font-size: 22.6px;
    font-weight: 600;
}

.custm h5{
    
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 6px;
    color: rgb(72, 142, 67);
}

.custm img{
    /* border-bottom: 2.6px dashed black; */
    height: 166px;
    
}

.custm:hover{
    box-shadow: 2.6px 2.6px 16px rgb(100, 194, 117);
    
    background-color: rgb(210, 210, 210);
}


